.section1{
    background-image: url("../images/main_bg.jpg");
    div{
        position: relative;
        .titlesect1{
            align-items: center;
            h1{
                text-align: center;
                font-family: $courgette;
                span{
                    color: red;
                }
            }
        }
        .triangle1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .triangle2{
            position: absolute;
            top: 0;
            right: 0;
        }
        .triangle3{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .triangle4{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .textsect1{
            width: 45%;
        }
        .title2sect1{
            align-items: center;
            h1{
                font-family: $courgette;
                span{
                    color: red;
                }
            }
        }
        .decoline{
            justify-content: center;
        }
        
    }
}
