.section1{
    background-image: url("../images/main_bg.jpg");
    div{
        position: relative;
        .titlesect1{
            align-items: center;
            h1{
                text-align: center;
                font-family: $courgette;
                span{
                    color: red;
                }
            }
        }
        .triangle1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .triangle2{
            position: absolute;
            top: 0;
            right: 0;
        }
        .triangle3{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .triangle4{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .textsect1{
            width: 45%;
        }
        .title2sect1{
            align-items: center;
            h1{
                font-family: $courgette;
                span{
                    color: red;
                }
            }
        }
        .decoline{
            justify-content: center;
        }
        .div-menu{
            
            .list-group{
                
                 width: 30%;
                a>i{
                    font-size: 300%;
                    color:#cccccc;
                    
                }
                a{
                    font-family: 'Courgette', cursive;
                    span{
                        font-size: 150%;
                    }
                    
                }
               


            } 
            .list-group>a>i:hover{
                    color: #b02939;
                    
                    }
            .list-group>a:hover{
                border-right: 5px solid #b02939;
            }

            .div-list1,.div-list2{
                
                  width: 60%;
                .div,.div2,.div3,.div4,.div5{
                    border-bottom: dotted 2px #efefef;
                     padding: 1%;
                    img{
                        height: 100px;
                        border-radius: 50%;
                        border: 5px solid #efefef ;
                    }
                    p:nth-child(3){
                        background-color: #efefef;
                        height: 25px;
                        width: 13%;
                        color:#b02939;
                        text-align: center;
                        font-weight: bold;
                        

                    }
                }

            }
    }
}
}