.section3{
    background-image: url("../images/main_bg.jpg");
    .container{
        position: relative;
            justify-content: space-between;
            width: 100%;
            h1{
                text-align: center;
                font-family: $courgette;
                span{
                    color: red;
                }
                
            }
            .decoline{
                    width: 50%;
                }
            .triangle1{
                position: absolute;
                top: 0;
                left: 0;
            }
            .triangle2{
                position: absolute;
                top: 0;
                right: 0;
            }
            .triangle3{
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .triangle4{
                position: absolute;
                bottom: 0;
                right: 0;
            }
    }
    .reservation{
        justify-content: center;
        border-radius: 25px;
        width: 70%;
        background-image: url("../images/book_table_bg.jpg");
        div{
            button{
                border-radius: 10em/10em;
                border: none;
            }
        }
    }
    .ourblog{
        justify-content: space-evenly;
        position: relative;
        .divimg{
            width: 40%;
            padding: 1%;
            background-color: lightgray;
            border-radius: 25px;
            .imgdivimg{
                border-radius: 25px;
                width: 100%;
            }
            .txtimg{
                position: absolute;
                width: 30%;
                border-radius: 15px;
                margin-left: 3%;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .txtbasimg{
        .txtbas{
            width: 40%;
            justify-content: center;
        }
    }
    .buttonblog{
        button{
            border-radius: 10em/10em;
            border: none;
        }
    }
}